{% extends "contactos-proveedor/base-contacto.html" %} 

{% load static %}

<title>{% block titulo %} smiLIFE {% endblock %}</title>

{% block extra_styles %}
<style>
	body {
		background-color: #6affc3; /* Color AliceBlue como ejemplo */
	}
</style>
{% endblock %}

{% block nombre %} smiLIFE {% endblock %}


{% block contenido %}

<p>“Hola soy Jhoana, soy una de las proveedoras de smiLIFE, he trabajado en esta industria durante 4 años, si tienes alguna duda o quieres agendar una cita,  hazlo sin ningún problema, estaré al pendiente para tu asesoramiento.”<br />
	<br/>
¿Tienes dudas en como aplicarte tu crema, tienes algunas dudas sobre que producto es el ideal para ti, quieres un asesoramiento previo antes de tu compra?<br />
	<br/>
Contactarme y tan pronto como pueda te responderé.</p>

{% endblock %}


{% block imagen %} <img src="{% static 'appfel/img/Foto_refe.png' %}" alt="Foto de referencia" class="img1" /> {% endblock %}


{% block pie %} Redes Jhoana {% endblock %}