{% extends "contactos-proveedor/base-contacto.html" %} 

{% load static %}

<title>{% block titulo %} Esika {% endblock %}</title>

{% block extra_styles %}
<style>
	body {
		background-color: red; /* Color AliceBlue como ejemplo */
	}
</style>
{% endblock %}

{% block nombre %} Tienda de Esika {% endblock %}


{% block contenido %}

<p>sldkshduhsdhskdbaskbdiasbdujabdjbas</p>

{% endblock %}


{% block imagen %} <img src="{% static 'appfel/img/Ella.jpg' %}" alt="Foto ella" class="hola2" /> {% endblock %}


{% block pie %} Redes Esika {% endblock %}