{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<title>Correo Enviado</title>

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'appfel/css/reset.css' %}" />
	<link rel="stylesheet" href="{% static 'appfel/css/global.css' %}" />
	<link rel="stylesheet" href="{% static 'appfel/css/rest_passw.css' %}" /> 
</head>

<body>
	<div class="login-container">
		<img src="{% static 'appfel/img/img.png' %}" alt="Enviado" class="img-top" />
		<h1 class="title-inicio-sesion">¡Revisa tu correo!</h1>
		<p class="intro-text">
			Hemos enviado un enlace de recuperación a tu dirección de correo electrónico. 
			<br><br>
			Si no lo ves en unos minutos, revisa tu carpeta de spam.
		</p>
		
		<div class="password-reset-link-container">
			<a href="{% url 'inicio' %}" class="password-reset-link">← Volver al inicio de sesión</a>
		</div>
	</div>
</body>
</html>