{% extends "base-productos.html" %} 
{% load static %}

{% block titulo %} {{ producto.nombre }} - Felskyel {% endblock %}

{% block nombre %} {{ producto.nombre }} {% endblock %}
{% block nombre_header %} {{ producto.nombre }} {% endblock %}

{% block product_price %}
<span class="price-amount">${{ producto.precio }} COP</span>
{% endblock %}

{% block contenido %}
<p>
    {{ producto.descripcion|linebreaks }}
</p>
{% endblock %}

{% block product_actions %}
<div class="product-actions">
    <a href="{% url 'carrito:agregar_al_carrito' producto.id %}?next={{ request.path }}" class="btn-add-to-cart hover-bright text-decoration-none">Agregar</a>
    <a href="{% url 'contacto' %}" class="btn-add-to-cart hover-bright text-decoration-none" style="background-color: #666;">
        Contactar Proveedor
    </a>
</div>
{% endblock %}

{% block imagen %} 

    {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img1" />
    {% else %}
        <img src="{% static 'appfel/img/shop/default_product.png' %}" alt="{{ producto.nombre }} (Sin imagen)" class="img1" />
    {% endif %}
    
{% endblock %}


